.footer {
    background-color: #ffffff;
    padding: 2rem 0;
    margin-top: 7rem;
    border-top: 1px solid #eaeaea;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .footer-logo {
    color: #7402EE;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none; /* 링크 밑줄 제거 */
  }
  
  .footer-logo:hover {
    color: #5c02bb; /* 선택적: hover 효과 추가 */
  }

  .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .footer-column h4{
    color: #666;
    font-size: 0.8rem;
    font-weight: normal;
    margin: 0;
    cursor: pointer;
    text-align: center;
  }

  .footer-column p {
    color: #666;
    font-size: 0.8rem;
    font-weight: normal;
    margin: 0;
    cursor: pointer;
  }
  
  .footer-column h4:hover {
    color: #7402EE;
  }
  
  .footer-bottom {
    padding-left: 7rem;
    text-align: right;
  }
  
  .footer-bottom p {
    color: #666;
    font-size: 0.7rem;
    margin: 0;
  }
  
  /* 반응형 스타일 */
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      text-align: center;
    }
  
    .footer-links {
      flex-direction: column;
      gap: 1rem;
      margin-top: 1rem;
    }
  
    .footer-bottom {
      text-align: center;
    }
  }
  
  @media (max-width: 480px) {
    .footer-content {
      padding: 0 1rem;
    }
    
    .footer-links {
      gap: 0.5rem;
    }
  }